.text-align-center {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.d-flex-bw {
  display: flex;
  justify-content: space-between;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.border-1 {
  border: 1px solid gray;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}